@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif !important;
  font: inherit!important;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
// .app-container {
//   padding: 20px;
// }

.components-container {
  margin: 30px 50px;
  position: relative;
}

// .mytable_footer {
//   margin-top: 30px;
// }

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  .filter-item {
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//  表格 
.mytable{ 
  background-color: #fff; border-radius: 8px;overflow: hidden;
  .el-table{font-size: 16px;}
  .mytable_head{
    display: flex; align-items: center; justify-content: space-between;min-height: 30px;
    .table_head_left{ font-size: 28px; color: #4e555f;font-weight: 800;margin-left: 22px;line-height: 84px;}
    .table_head_right{font-size: 18px; color: #4e555f;margin-right: 26px;}
  } 
  .mytable_footer{
    min-height: 30px;
    .el-pagination{height: 92px;margin: 0 auto;display: flex;align-items: center;justify-content: center;}
  }
} 

// 按钮
.delButton{
  background-color: $delButton;
  border-color: $delButton;
}

//状态颜色 
// 否
.toBeDelivered{
  color: $to_be_delivered;
}
// 是
.delivered{
  color: $delivered;
}
.closed{
  color:$closed;
}

// 添加分类
.categorys_btn{
  height: 56px;
  width: 100%;
  font-size: 20px;
  .el-icon-plus{
    font-size: 14px;
    margin-right: 5px;
  }
}
.categorys_div{
  font-size: 18px;
  color: #4E555F;
  .el-table__header-wrapper{
    color:#AFB8C5;
    font-size: 16px;
  }
  .el-button{
    font-size: 22px;
  }
}

.el-tabs .el-tabs__header{
  border-color: #EDF0F5;
  .el-tabs__nav{
    border: none;
  }
  .el-tabs__item{
    border-radius: 4px 4px 0 0;
    margin-right: 10px;
    background-color: #fff;
    color: #AFB8C5;
    border: 0;
    &.is-active{
      color: #fff;
      background-color: #6E6DFE;
    }
  }
}
//使表格对齐
.el-table th.gutter{
  display: table-cell!important;
  }
  .flex {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }
  
  .row {
    flex-direction: row;
  }
  
  .flex_start {
    justify-content: flex-start !important;
  }
  
  .flex_end {
    justify-content: flex-end;
  }
  
  .space-around {
    justify-content: space-around;
  }
  
  .space_between {
    justify-content: space-between;
  }
  
  .horizontal_center {
    justify-content: center;
  }
  
  .center {
    align-items: center;
  }