// sidebar
$menuText:rgba(255,255,255,0.5);
$menuActiveText:#fff;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951
$slide_bg: #2A2E55;

$menuBg:#13173A; // 一级以下背景色
$menuHover:#6E6DFE; // 一级背景色

$subMenuBg:#1a2229;
$subMenuHover:#6E6DFE;
$subMenuFontHover:#fff;

$sideBarWidth: 210px;

// 按钮
$delButton: rgb(254, 139, 62);  
$btn_color: #6E6DFE;

// 状态文字 
$to_be_delivered :#FF3F7E;
$delivered: #4DDB3E;
$closed: #afb8c5;

// 开关
$inactive_off: #ccc;
$active_on: #6E6DFE;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuFontHover: $subMenuFontHover;
  sideBarWidth: $sideBarWidth;
  delButton: $delButton;
  btnColor: $btn_color;
  toBeDelivered: $to_be_delivered;
  inactiveOff: $inactive_off;
  activeOn: $active_on;
}
